<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

   <settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>
   <!-- 언더바 형식을 카멜식으로 바꿔주는거 -->
   
   <typeAliases>
      <typeAlias type="kh.spring.s01.board.model.vo.BoardVo" alias="BoardVo"/>
   </typeAliases>
   
   <mappers>
      <mapper resource="mappers/board-mapper.xml"/>
   </mappers>

</configuration>
