@charset "UTF-8";
* {
	box-sizing: border-box;
}

.wrap.header{
	background-color: antiquewhite;
}
.wrap.footer{
	position : relative;
	background-color: olive;
}

.wrap.footer > .btn .top{
	position: absolute;
	left:10px;
	top:10px;
}

header{
	width: 960px; margin: 0 auto;
    /* 5. 테두리 - content-box --> border-box 지정 */
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    /* 20. 대충 숫자.... */
    position: relative;
    /* 자식 absolute*/
}
section{
	width: 960px; margin: 0 auto;
    /* 5. 테두리 - content-box --> border-box 지정 */
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
aside{
	
}
/* wrap-section{
	
}
wrap-section > menu{
}
wrap-section > section{
}
wrap-section > aside {
} */
footer{
	width: 960px; margin: 0 auto;
    /* 5. 테두리 - content-box --> border-box 지정 */
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}